# --- Core Deep Learning Framework ---
torch==2.5.0
torchvision==0.20.0
torchsummary

# --- Computer Vision & Models ---
timm
einops
grad-cam
-f https://shi-labs.com/natten/wheels/
natten==0.17.3+torch250cu124
#mamba-ssm

# --- Data Processing & Augmentation ---
numpy
pandas
scikit-learn
scikit-image
Pillow
medmnist==3.0.2
torchattacks

# --- Utilities & Visualization ---
fvcore
tqdm
fire